* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #3C3D37;
    align-items: center;
    justify-content: center;
}

#page2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF2E63;
}

#page3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC1DA;
}

#circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(rgb(255, 170, 170), rgb(255, 238, 0));

}