*{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy'; 
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #A4CCD9;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #9FC87E;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #FFDCDC;
}
#page2 #image-div{
height: 100%;
width: 35%;
position: relative;
left: 50%;
transform: translate(-50%);
overflow: hidden;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}